.pensum_section {
  transform: translateY(-50%);
}

.pensum_section .pensum_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pensum_section .pensum_container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  padding: 45px 15px;
  background-color: inherit;
  border: solid 5px var(--body-color);
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pensum_section .pensum_container .box .img-box {
  width: 90px;
  height: 90px;
  background-color: inherit;
}

.pensum_section img {
  width: 100%;
}

.pensum_section .pensum_container .box:hover,
.pensum_section .pensum_container .box.active {
  border: 5px solid #ff8a1d;
  background-color: inherit;
  color: #ffffff;
}

.pensumSelect {
  position: sticky;
  top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
  margin-right: 2rem;
  padding: 2rem;
  border: 1px solid white;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

.pensumContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45rem;
  color: white;
  cursor: pointer;
  scroll-behavior: smooth;
  height: 100%;
}

.card-container {
  display: flex;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 45rem;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid white;
}

.card-img {
  border-radius: 12px;
}

.card_title {
  padding: 0.5rem;
  color: #ffffff;
  font-weight: bold;
}

.card_body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_footer {
    display: flex;
    justify-content: right;
    font-size: 3rem;
}

.card_video {
  display: flex;
  justify-content: center;
}