html{
  scroll-behavior: smooth;
  scroll-padding: 0px 0px 0px 0px;
}

.main_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 1; /* Optional: To control the stacking order */
  scroll-behavior: smooth;
}

.main_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_section .detail-box {
  padding-bottom: 90px;
}

.main_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  color: #ffffff;
}

.main_section .detail-box p {
  color: #ffffff;
  font-size: 15px;
}

.main_section .detail-box img {
  color: #ffffff;
  font-size: 15px;
}

.main_section .detail-box a {
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: transparent;
  border: 1px solid #ff8a1d;
  border-radius: 5px;
  color: #ff8a1d;
  margin-top: 15px;
}

.main_section .detail-box a:hover {
  background-color: transparent;
  color: #ffffff;
}

.main_section .img-box img {
  width: 100%;
}

.pensum_section {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pensum_section .pensum_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
}

.pensum_section .pensum_container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  padding: 45px 15px;
  background-color: inherit;
  border: solid 5px var(--body-color);
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pensum_section .pensum_container .box .img-box {
  width: 90px;
  height: 90px;
  background-color: inherit;
}

.pensum_section img {
  width: 100%;
}

.pensum_section .pensum_container .box .name {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Merriweather Sans", sans-serif;
  margin-bottom: 0;
  background-color: inherit;
}

img {
  background-color: inherit;
}

.pensum_section .pensum_container .box:hover,
.pensum_section .pensum_container .box.active {
  border: 5px solid #ff8a1d;
  background-color: inherit;
  color: #ffffff;
}

.pensum_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: top;
}

.pensum_section .detail-box h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5rem;
}

.pensum_section .detail-box p {
  margin-top: 5rem;
}

.pensum_section .img-box img {
  width: 100%;
}

.pensumSelect {
  position: sticky;
  top: 15rem; /* Adjust this value as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
  margin-right: 2rem;
  padding: 2rem;
  border: 1px solid white;
  height: 100%;
}

.pensumContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45rem;
  padding: 2rem;
  color: white;
  cursor: pointer;
  scroll-behavior: smooth;
  border: solid 1px white;
  height: 100%;

}



.title {
    font-family: 'Dancing Script', cursive;
    padding-top: 15px;
    position: absolute;
    left: 45%;
}


.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}

.exerciseImg {
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.exerciseContent {
  display: flex;
  flex-direction: row;
  height: 500%;
  width: auto;
  scroll-behavior: smooth;
}
.marginBottom {
  margin-bottom: 3vh;
}
 #startside-banner {
  display: flex;
}

#startside-banner svg {
  min-width: 1920px;
  height: 800px;
  width: 100%;
  object-fit: cover;
  display: flex;
  border: none;
}

#startside-banner img {
  display: flex;
  border: none;
  overflow: hidden;
}

#pensumTitle {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1rem;
}

#pensumText {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 2rem;
}

#pensumMyPage {
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
}


.slider-toggle {
  display: none;
  visibility: none; }

.slider-button,
.slider-content,
.slider {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

.slider-viewport {
  /* Uncomment the border-radius and border declaration to see the webkit bug in Chrome or Safari */
  /* border-radius: 50px;  border: 5px solid green; */
  -moz-border-radius: 50px;
  display: block;
  height: 100px;
  overflow: hidden;
  width: 300px;
  position: relative;
  margin: 30px auto 0;
  cursor: pointer; }

.slider {
  height: 100%;
  position: relative;
  width: 200%; }

.slider-button {
  -moz-border-radius: 50px;
  background-color: #f2f2f2;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFF2F2F2', endColorstr='#FFDDDDDD');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iODYiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iNjElIiBzdG9wLWNvbG9yPSIjZTJlMmUyIi8+PHN0b3Agb2Zmc2V0PSI4NiUiIHN0b3AtY29sb3I9IiNkZGRkZGQiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 86, color-stop(0%, #f2f2f2), color-stop(32%, #eeeeee), color-stop(61%, #e2e2e2), color-stop(86%, #dddddd));
  background-image: -webkit-radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
  background-image: -moz-radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
  background-image: -o-radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
  background-image: -ms-radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
  background-image: radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: white 0 10px 8px inset, rgba(0, 0, 0, 0.4) 0 -5px 8px inset, rgba(0, 0, 0, 0.2) 0 0 5px;
  -moz-box-shadow: white 0 10px 8px inset, rgba(0, 0, 0, 0.4) 0 -5px 8px inset, rgba(0, 0, 0, 0.2) 0 0 5px;
  box-shadow: white 0 10px 8px inset, rgba(0, 0, 0, 0.4) 0 -5px 8px inset, rgba(0, 0, 0, 0.2) 0 0 5px;
  position: absolute;
  display: block;
  top: 0;
  height: 100px;
  width: 100px;
  cursor: pointer; }

.slider-content {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
  background: rgba(157, 38, 29, 0.5);
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 100%;
  width: 250px;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  top: 10px; }
  .slider-content span {
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
    height: 100%;
    line-height: 100px;
    margin: 0 20px;
    float: left; }

.left {
  background-color: #59bdff;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF59BDFF', endColorstr='#FF44B7FF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5YmRmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ0YjdmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #59bdff), color-stop(100%, #44b7ff));
  background-image: -webkit-linear-gradient(top, #59bdff 0%, #44b7ff 100%);
  background-image: -moz-linear-gradient(top, #59bdff 0%, #44b7ff 100%);
  background-image: -o-linear-gradient(top, #59bdff 0%, #44b7ff 100%);
  background-image: -ms-linear-gradient(top, #59bdff 0%, #44b7ff 100%);
  background-image: linear-gradient(top, #59bdff 0%, #44b7ff 100%); }

.right {
  background-color: #ff4f51;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF4F51', endColorstr='#FFFF3A3A');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNGY1MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmM2EzYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff4f51), color-stop(100%, #ff3a3a));
  background-image: -webkit-linear-gradient(top, #ff4f51 0%, #ff3a3a 100%);
  background-image: -moz-linear-gradient(top, #ff4f51 0%, #ff3a3a 100%);
  background-image: -o-linear-gradient(top, #ff4f51 0%, #ff3a3a 100%);
  background-image: -ms-linear-gradient(top, #ff4f51 0%, #ff3a3a 100%);
  background-image: linear-gradient(top, #ff4f51 0%, #ff3a3a 100%); }
  .right span {
    float: right; }

.slider-toggle + .slider-viewport > .slider {
  left: 0; }

.slider-toggle + .slider-viewport .slider-button {
  left: 200px; }

.slider-toggle + .slider-viewport .slider-content {
  width: 250px; }

.slider-toggle + .slider-viewport .left {
  margin-left: 0; }

.slider-toggle:checked + .slider-viewport > .slider {
  left: -100%; }

.slider-toggle:checked + .slider-viewport .slider-button {
  left: 300px; }

.slider-toggle:checked + .slider-viewport .left {
  margin-left: 100px; }

.look .slider-toggle {
  display: block;
  margin: 30px auto 0; }
.look .slider-viewport {
  margin-top: 10px;
  border: 4px solid orange;
  overflow: visible; }
.look .slider-content {
  opacity: .6; }

.setExerciseState {
  display: flex;
  font-size: 200%;

}





