#checklist {
    margin: 20px;
    text-align: left;
  }
  
  .trackProgress {
    /* Optional styles for the progress container */
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  #progressPercentage {
    font-weight: bold;
  }
  
  /* Style to make the checkbox unclickable */
  .subtype {
    pointer-events: none;
  }
  
  .circular-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 20px;
    max-width: 20rem;
  }
  
  .circleBelt {
    fill: none;
    stroke: #eeff00;
    stroke-width: 3.8;
    animation: progress 1s ease-out forwards;
  }

  .circleCategory {
    fill: none;
    stroke: #00bbff;
    stroke-width: 3.8;
    animation: progress 1s ease-out forwards;
    
  }
  
  .percentage-text-category,  .percentage-text-belt {
    font-size: 10px;
    text-anchor: middle;
  }
  
  #progressPercentage {
    font-size: 0.4rem;
  }

/* CSS for organizing items */
.pensumList {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create two columns */
    width: 50%;
    margin: 0 auto; /* Horizontally center the container */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Add some spacing between items */
    
  }
  
  .circular-chart {
    margin: 20px auto; /* Center the circular chart in its container */

  }

  
  @keyframes progress {
    from {
        stroke-dasharray: 0, 100;
    }
  }
  