#checklist {
    margin: 20px;
    text-align: left;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  .circular-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 20px;
    max-width: 20rem;
  }
  
  .circleBelt {

    stroke-width: 3.8;
    fill: none;
  }
  
  .circleCategory {
    stroke-width: 3.8;
    fill: none;
  }
  
  .percentage-text-category,
  .percentage-text-belt,
  .percentage-text {
    font-size: 10px;
    text-anchor: middle;
  }
  
  #progressPercentage {
    font-size: 0.4rem;
  }

/* CSS for organizing items */
.pensumList {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create two columns */
    width: 50%;
    margin: 0 auto; /* Horizontally center the container */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Add some spacing between items */
    
  }
  


  .trackProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
  }
  
  /* Style to make the checkbox unclickable */
  .subtype {
    pointer-events: none;
  }

  
  
  
  
  @keyframes progress {
    from {
        stroke-dasharray: 0, 100;
    }
  }
  


  