

.trainingContent {
    min-height: 100rem; /* Adjust this value as needed */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45rem;
    color: white;
    cursor: pointer;
    scroll-behavior: smooth;
    height: 100%;
    transition: height 0.2s ease-out;
  }
  
  .trainingSelect {
    position: sticky;
    top: 21rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;
    padding: 2rem;
    border: 5px solid var(--body-color);
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    font-size: 2.4rem;
    width: 25rem;
    color: var(--accent);
  }

  .trainingContainer {
    display: flex;
    flex-direction: row;
    height: 300%;
    width: auto;
    scroll-behavior: smooth;
    margin-top: 40%;

  }